<%  flash.each do |m| %>
<%=   m[1] %>
<%  end %>
<table class="table">
	<% @places.each do |p| %>
	<tr>
		<td><a href="<%= place_path(p) %>"><%= p.name %></a></td>
		<td><%= p.address %></td>
		<td><%= p.established_at %></td>
		<td><%= p.phone_number %></td>
		<td><%= p.contract_mail %></td>
		<td><%= p.city %></td>
		<td><%= p.description %></td>
	</tr>
	<% end %>
</table>
