<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Burası  Show</h1>
<table class="table">
	<tr>
		<td><%= @place.name %></td>
		<td><%= @place.address %></td>
		<td><%= @place.established_at %></td>
		<td><%= @place.phone_number %></td>
		<td><%= @place.contract_mail %></td>
		<td><%= @place.city %></td>
		<td><%= @place.description %></td>
	</tr>
</table>
</body>
</html>